<div class="banner" >
		<div class="container">
			<div class="banner-top">
				<h1>La plataforma móvil para las mejores ofertas!</h1>
				<!--<p>sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec.</p>-->
			</div>
			<div class="banner-bottom">
				<div class="col-md-4 banner-left" >
					<!--<a href="#">DOWNLOAD NOW</a>-->
					<a> <img src="/assets/play2.png" alt="" /></a>
				</div>
				<div class="col-md-4 banner-middle">
					<img src="/assets/samsung3.png" alt="" />
				</div>
				<div class="col-md-4 banner-right">
					<!--<a href="#"></a>-->
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>
<div class="feature" id="features">
		<div class="container">
			<div class="feature-main">
				<h3>Simple y efectivo</h3>
				
			</div>
				<div class="feature-bottom">
					<div class="col-md-6 feature-bottom-left">
						<div class="ftr-one">
							<div class="feature-left">
								<img src="/assets/feature-1.png" alt="" />
							</div>
							<div class="feature-right">
								<h4>Sube tu Oferta</h4>
								<p>Con nuestra plataforma, podrás subir nuevas ofertas de tu comercio todos los dias, e instantáneamente serán visibles en el dispositivo móvil del público. Ideal para hacer conocido tu comercio y captar nuevos clientes </p>
							</div>
							<div class="clearfix"></div>
						</div>
						
						
					</div>
					<div class="col-md-6 feature-bottom-left">
						<div class="ftr-one">
							<div class="feature-left">
								<img src="/assets/feature-3.png" alt="" />
							</div>
							<div class="feature-right">
								<h4>Los Clientes cerca</h4>
								<p>Tus clientes podrán configurar alertas en su dispositivo para que sean notificados cada vez que subas una nueva oferta, asi estarán siempre al tanto de tus novedades</p>
							</div>
							<div class="clearfix"></div>
						
						
					</div>
					<div class="clearfix"></div>
				</div>
		</div>
	</div>
</div>	

<div class="screen">
		<div class="container">
			<div class="screen-top">
				<h3><img src="/assets/recorte.jpg"> en acción</h3>
				<!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</p>-->
			</div>
			<div class="screen-bottom">
				<div class="col-md-3 screen-left">
					<a  class="b-link-stripe b-animate-go  thickbox">
									<img class="port-pic" class="img-responsive" src="/assets/0-open.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left b-from   b-delay03 ">
											<span>Oferty es una aplicación muy simple y fácil de usar, Gratis en Google Play </span>
										</h2>
									</div>
								</a>
				</div>
				<div class="col-md-3 screen-left">
					<a  class="b-link-stripe b-animate-go  thickbox">
									<img class="port-pic" class="img-responsive" src="/assets/1-inicio.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left b-from   b-delay03 ">
											<span>La sección destacados es especial para que tus novedades estén siempre en primera plana</span>
										</h2>
									</div>
								</a>
				</div>
				<div class="col-md-3 screen-left">
					<a  class="b-link-stripe b-animate-go  thickbox">
									<img class="port-pic" class="img-responsive" src="/assets/2-inicio-opciones.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left b-from   b-delay03 ">
											<span>Ofertas separadas perfectamente en categorias para encontrar más rápido todo eso que buscas</span>
										</h2>
									</div>
								</a>
				</div>
				<div class="col-md-3 screen-left">
					<a  class="b-link-stripe b-animate-go  thickbox">
									<img class="port-pic" class="img-responsive" src="/assets/3-busqueda.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left b-from   b-delay03 ">
											<span>Tendrás todo tipo de Ofertas que no podrás dejar pasar</span>
										</h2>
									</div>
								</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>



<!--start-member-->
<div class="member" id="pricing">
		<div class="container">
			<div class="member-top">
				<h3>Tipos de Cuentas</h3>
				<p></p>
			</div>
			<div class="member-bottom">
				
				<div class="col-md-3 member-bottom-left">
					
				</div>
				<div class="col-md-3 member-bottom-left">
					<div class="member-one">
						<div class="mem-back">
							<p>Regular</p>
							<label>$200 por mes</label>
						</div>
						<div class="mem-two">
							<h5>Primer mes Gratis</h5>
							<h5>2 Ofertas diarias</h5>
							<h5></h5>
							<h5></h5>
						</div>
					</div>
				</div>
				<div class="col-md-3 member-bottom-left">
					<div class="member-one">
						<div class="mem-back">
							<p>Premium</p>
							<label>$300 por mes</label>
						</div>
						<div class="mem-two">
							<h5>Primer mes Gratis</h5>
							<h5>3 Ofertas diarias</h5>
							<h5>Espacio en Destacados</h5>
											
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
</div>
	<!--end-member-->

<div class="container">
	<div class="news-main">
				<h2>¿Querés publicar en Oferty?</h2>
				<h5>info@oferty.com</h5>
				<h5>Whatsapp: 3513-168388</h5>
	</div>

</div>