<div class= "new-ofert">
<h1></h1>

<%= render 'form' %>
<div class="boton-New-ofert">
<%= link_to 'Vista Previa', @usuario, class: "btn btn-primary" %> 
<%= link_to 'Volver', usuarios_path, class: "btn btn-danger" %>
</div>

</div>