<div class= "new-ofert">
	
<h1></h1>
<p>1=admin, 3=premium, vacio รณ 0=regular</p>
<%= render 'form' %>


<div class="boton-New-ofert">
<%= link_to 'Cancelar', usuarios_path, class: "btn btn-danger" %>
</div>
</div>